################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hypernet/FileContentIndex/c9d20c8d-1f72-4788-b370-da723ae0c525.vsidx
/.vs/Hypernet/FileContentIndex/ac26a5ab-1917-4bde-8589-b988ffa022a8.vsidx
/.vs/Hypernet/FileContentIndex
/.vs/Hypernet/v17
/.vs
